<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>{{ Titulo }}</title>
</head>
<body>
  <div>
      <h1 class="titulo2">{{ Titulo }}</h1>
    </div>
    {% for Livros in listalivro %}
        <div class="livro" >
            <h2>{{ Livros.titulo }}</h2>
            <p>Autor: {{ Livros.autor }}</p>
            <p>Ano de publicação: {{ Livros.ano }}</p>
            <p>Genêro: {{ Livros.genero }}</p>
            <p>Faixa Etária: {{ Livros.faixa }}</p>
            <br>
            <button class="botao1">
                  <a class="botao1" href="/excluir/{{Livros.idlivro}}">Excluir</a>
            </button>
            <button class="botao1">
                  <a class="botao1" href="/editar/{{Livros.idlivro}}">Editar</a>
            </button>
        </div>
    {%endfor%}
</body>
</html>